.title-text {
    text-align: center;

    font-size: 60px;

    margin: 0;
    padding: 0;
}

.currentGamesFieldset {
    border-style: solid;
    border-color: gray;
    border-width: 6px;
    border-radius: 10px;

    margin-left: 14px;
    margin-right: 14px;
}

.currentGamesFieldsetLegend {
    font-size: 40px;
}